hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
} 

.lista__rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
   .rodape {
    display: flex;
    justify-content: space-around;
   }

   .lista__rodape {
    display: block;
   }

   .lista__rodape__item {
    align-items: center;
    display: flex;
    margin: 0.6em 0;
   }

   .lista__rodape__link {
    text-decoration: none;
    color: var(--preto-rodape);
    margin-left: 0.6em;
    font-size: 14px;
   }

   .rodape__titulo {
    font-size: 24px;
   }

   .lista__rodape__titulo {
    color: var(--cinza);
    font-size: 14px;
   }
}

@media screen and (min-width: 1728px) {
    .lista__rodape {
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}